
/*Este é um comentário em CSS*/

.header {
    background-color: rgb(103, 115, 255);
  }

h1 {
    font-family:'Courier New';
    color: #000;
    margin-left: 10px;
  }

h2 {
    font-family:'Courier New';
  }
  
.link{
    display: inline;
    margin: 5%;
    font-weight:bold;
    font-size: 18px;
    color:#fff;
  }

div.container {
    padding: 20px;
}

section {
    line-height: 1.5;
}

form {
  border: 1px solid;
  padding: 10px;
  color: grey;
}

p {
  color:green;
}

button {
  background-color: rgb(104, 104, 255);
  color: #fff;
}

footer{
  border-top: 2px solid;
  color:red;
}